<html>
<head>
    <title>Home Care</title>
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
</head>
<body ng-app="HomeCare" ng-controller="IndexCtrl">

<navbar></navbar>

<script src="/jquery/dist/jquery.js"></script>
<script src="/angular/angular.js"></script>
<script src="/bootstrap/dist/js/bootstrap.js"></script>
<script src="/js/all.min.js"></script>
</body>
</html>