<html>
<head>
    <title>Home Care</title>
    <link href="/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" type="text/css">
    <link href="/angular-ui/build/angular-ui.css" rel="stylesheet" type="text/css">
    <link href="/css/main.css" rel="stylesheet" type="text/css">
</head>
<body ng-app="expo">

<div class="container">
  <h1>Home Care+</h1>

  <form class="form-horizontal" action="/" method="GET">
    <div class="control-group">
      <label class="control-label" for="inputEmail">Username</label>
      <div class="controls">
        <input type="text" id="inputEmail" placeholder="Username">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputPassword">Password</label>
      <div class="controls">
        <input type="password" id="inputPassword" placeholder="Password">
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox"> Remember me
        </label>
        <button type="submit" class="btn">Sign in</button>
      </div>
    </div>
  </form>
</div>

<script src="/jquery/dist/jquery.js"></script>
<script src="/angular/angular.js"></script>
<script src="/bootstrap/dist/js/bootstrap.js"></script>
<script src="/lodash/dist/lodash.js"></script>
<script src="/moment/moment.js"></script>
<script src="/js/all.js"></script>
</body>
</html>