.time-slot {
  background-color: #f5f5f5;
  &:hover {
    background-color: #ffff00;
  }
}
.cal-cell {
  height: 50px;
}
.calendar-table {
  th {
    width: 30px;
    padding: 5px;
  }
}
.calendar-container {
  overflow-x: scroll;
}
.day {
  float: left;
}