.time-slot {
  background-color: white;
  &:hover {
    background-color: deepskyblue;
  }
}
.time-slot.past {
  background-color: darkgray;
  &:hover {
    background-color: deepskyblue;
  }
}
.time-slot.overdue {
  background-color: #ff0000;
  &:hover {
    background-color: deepskyblue;
  }
}
.cal-cell {
  height: 50px;
}
.calendar-table {
  width: 100%;
  th {
    width: 30px;
    padding: 5px;
  }
}
.calendar-container {
  position: relative;
  .fix-left {
    position: absolute;
    width: 200px;
  }
  .scollable-right {
    position: absolute;
    left: 201px;
    overflow-x: scroll;
    right: 0px;
    top: 0px;
  }
}
.day {
  float: left;
}
.is-med-schedule {
   margin: auto;
   width: 16px;
}
.medication-schedule {
  margin-top: 15px;
}